@model ProductCardModel
@using FoodShop.Web.Utils

<div class="product__item" data-product-id="@Model.Product.Id">
    <img src="~/beer.jpg"/>
    <div> @StringLengthConstrainer.Constraint(Model.Product.Name, 40)</div>
    <div> @Model.Product.Price</div>
    @if (Model.Product.Tags != null && Model.Product.Tags.Any())
    {
        <div class="product__item_tag">@string.Join(", ", Model.Product.Tags.Select(t => t.Tag.Name).ToArray())</div>
    }

   @* <div>@string.Join(", ", Model.Offers.Where(l => l != FoodShop.Core.Models.ProductPriceStrategyLink.Default).Select(l => l.ProductPriceStrategy.Name).ToArray())</div>*@
    <button class="btn-action-add">Add to Cart</button>
    <button class="btn-action-remove">Remove from Cart</button>
    <span class="basket__item-quantity"></span>
</div>