@model HomeIndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="pull-right">
        <span class="basket__total-amount"></span>
    </div>
    <div class="product-category__container">
        @foreach (var productCategory in Model.ProductCategories)
        {
            <a href="#" class="product-category__item">
                @productCategory.Name
            </a>
        }
    </div>
    <div>
        Filter area
    </div>
    <div class="product__container">
        @foreach (var product in Model.Products)
        {
            <div class="product__item" data-product-id="@product.Id">
                <div> @product.Name</div>
                <div> @product.Price</div>
                <div>@string.Join(", ", product.Tags.Select(t => t.Tag.Name).ToArray())</div>
                <button class="btn-action-add">Add to Cart</button>
                <button class="btn-action-remove">Remove from Cart</button>
                <span class="basket__item-quantity"></span>
            </div>
        }
    </div>
</div>
